.contentAll {
  max-width: 100%;
  max-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 5rem 8rem 0 8rem;
  background-color: #fafafa;
}

.barra {
  width: 50px;
  height: 10px;
  background-color: #7721bf;
  border-radius: 10px;
  margin-top: 2rem;
}

.contentAll h3 {
  font-size: 1.8rem;
  margin: 0;
}

.description {
  color: #444;
  font-size: 1.2rem;
  text-align: center;
  width: 80%;
}

.contentReviws {
  width: 100%;
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.contentAll h4 {
  font-size: 1rem;
  margin-bottom: -4rem;
  text-align: center;
  width: 100%;
  height: max-content;
}

@media (max-width: 700px) {
  .contentAll {
    padding: 0;
  }
  .description {
    color: #444;
    font-size: 0.8rem;
    text-align: center;
    width: 80%;
  }

  .contentReviws {
    width: 100%;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    overflow-y: scroll;
    padding-bottom: 1rem;
  }

  .contentAll h4 {
    font-size: 1rem;
    margin-bottom: -4rem;
    text-align: center;
    width: 100%;
    height: max-content;
    margin-bottom: 1rem;
  }
}
