.contentAll {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 1rem;
  width: 300px;
  height: 150px;
  border: 1px solid #eee;
  border-radius: 15px;
  background-color: #fafafa;
  transition: 0.3s ease-in-out;
  row-gap: 2rem;
  overflow: hidden;
  text-align: center;
}

.contentAll[data-isOpen="true"] {
  height: 800px;
}

.contentAll:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.1);
}

.descriiption {
  font-size: 0.9rem;
}

.priceTitle {
  margin-top: 2rem;
}

.priceTitle h6 {
  font-size: 1.2rem;
  margin: 0;
  margin-left: 10px;
  text-align: center;
}

.price {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  margin: 0;
}

.price span {
  font-size: 1rem;
  margin: 0;
  color: #aaa;
}

.contentButtons {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  height: max-content;
}

.buttonViewMore {
  background-color: #fff;
  border: 1px solid #7721bf;
  color: #7721bf;
  padding: 0.5rem;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  width: 100px;
  text-align: center;
}

.buttonBuy {
  background-color: #7721bf;
  border: none;
  color: #fff;
  padding: 0.5rem;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  width: 100px;
  text-align: center;
}

.contentAll h5 {
  margin: 0;
  font-size: 1rem;
}

.contentAll li {
  text-align: start;
  font-size: 0.9rem;
}

.dataExtra {
  text-align: start;
}

/* ---------------------- */

.contentAllPopular {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 1rem;
  width: 300px;
  height: 150px;
  row-gap: 2rem;
  box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.3);
  border-radius: 15px;
  background: rgb(119, 33, 191);
  background: linear-gradient(
    214deg,
    rgba(119, 33, 191, 0.8491771708683473) 0%,
    rgba(119, 33, 191, 1) 100%
  );
  color: #fff;
  text-align: center;
  transition: 0.3s ease-in-out;
  overflow: hidden;
}

.contentAllPopular:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.1);
}

.contentAllPopular[data-isOpen="true"] {
  height: 800px;
}

.contentAllPopular li {
  text-align: start;
}

.priceTitlePopular {
  margin-top: 2rem;
  color: #fff;
}

.priceTitlePopular h6 {
  font-size: 1.2rem;
  margin: 0;
  margin-left: 10px;
  text-align: center;
}

.pricePopular {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  margin: 0;
}

.pricePopular span {
  font-size: 1rem;
  margin: 0;
  color: #aaa;
}
