.contentAll {
  background-image: url("../../assets/background-home.svg");
  background-size: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  display: flex;
  padding: 0 10%;
  height: 100vh;
  max-width: 100%;
}

.title {
  width: 120px;
}

.contentInfo {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.contentInfo h6 {
  font-size: 1.2rem;
  width: 550px;
  margin: 0;
  font-weight: 100;
  color: #fff;
}

.contentButtons {
  height: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.buttonServices {
  border: none;
  border-radius: 40px;
  font-size: 1.5rem;
  background: #fafafa;
  color: #b154ff;
  font-weight: 100;
  padding: 0.4rem 1rem;
  margin-top: 1rem;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.buttonServices:hover {
  transform: scale(1.09);
}

.buttonAbout {
  border: none;
  border-radius: 40px;
  font-size: 1.5rem;
  background: #9c31f6;
  color: #fff;
  font-weight: 100;
  padding: 0.4rem 1rem;
  margin-top: 1rem;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.buttonAbout:hover {
  transform: scale(1.09);
}

.fondo {
  width: 500px;
}

@media (max-width: 700px) {
  .contentAll {
    background: url("../../assets/backgroud-home-mobile.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    justify-content: center;
    padding: 0;
    width: 100vw;
    overflow: hidden;
  }

  .title {
    width: 150px;
  }

  .contentInfo {
    display: flex;
    align-items: center;
    padding: 0 3rem;
  }

  .contentInfo h6 {
    font-size: 1rem;
    text-align: center;
    width: 100%;
    margin: 0;
    font-weight: 100;
    color: #fff;
  }

  .contentButtons {
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 0;
    margin-top: 1rem;
  }

  .buttonServices {
    width: 140px;
    font-size: 1.6rem;
    text-align: center;
  }

  .buttonAbout {
    width: 100px;
  }

  .fondo {
    display: none;
  }
}
